@import "tailwindcss";

:root {
  --background: #EAEBD0;
  --foreground: #305669;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Custom color palette */
  --color-primary-light: #B7E5CD;
  --color-primary: #8ABEB9;
  --color-primary-dark: #305669;
  --color-accent: #C1785A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
